body {
	margin: 0;
	padding: 0;
	background: #f1f1f1;
	font: 13px sans-serif, vernada, arial;    
}

.irc-date { color: gray; }
.irc-green { color: green; }
.irc-white { color: black; }
.irc-orange { color: #E0681E; }
.irc-yellow { color: #6D1670; }
.irc-grey { color: gray; }
.irc-red { color: red; }
a {text-decoration: none; color: #215090; }
a:hover {text-decoration: none; color: blue; }
img { border: 0pt none; vertical-align: middle; }

/* Header */
#header { 
	margin: 0;
	width: 100%;
	height: 40px;
	position: relative;
	background: #351a0a;
}
#header h1 {
	margin: 0;
	padding: 2px 0 0 42px;
	width: 250px;
	clear: none;
}
#header h1 a { 
	color: white; 
	text-decoration: none;
	font-size: 20px;
	font-style: italic;
}
#header h1 a:hover, #network a:hover { color: #cfcfcf; }
#header p { margin-bottom: 0; }
#header h1 a { color: #fff; text-decoration: none; }

/* Logo */
#logo {
	background: url(logo.png) no-repeat left;
	position: absolute;
	float: left;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

/* SliTaz Network */
#network { 
	float: right; 
	padding: 10px 5px 0; 
	font-size: 12px;
}
#network a { 
	padding: 0 6px; 
	color: #fff; 
	font-weight: bold;
	text-decoration: none;
}

#content {
	padding-top: 10px;
	padding-left: 80px;
	padding-bottom: 10px;
	padding-right: 20px;
	font-size: 13px;
	background-color: #fff;
	color: #000;
}

#contentbox {
	padding-left: 80px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 13px;
	background: #d66018; 
	color: #333;
	min-height: 120px; 
}
#contentbox a { 
	color: #fff;
	text-decoration: none;
}
#contentbox a:hover { 
	text-decoration: underline;
}

#footer {
	background: #f1f1f1;
	text-align: center;
	border-top: 1px solid #ddd;
	padding: 20px;
	color: #666;
	margin: 0;
	clear: both;
}
#footer a { color: #666; padding: 0 2px; text-decoration: underline; }
#footer a:hover { text-decoration: none; }
