body {
	background: #FBFBFB;
	/* url(/lib/bg.png) */
	/* word-wrap: break-word; */
}
main {
	background: #FFF;
	border-radius: 6px;
}
.hidden { display: none; }

/* TABLE */
table {
	width: 100%;
	border: 1px solid #CCC;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	border-spacing: 0;
	padding: 0;
}
tr {
	margin: 0;
	padding: 4px;
}
td {
	margin: 0;
	padding: 6px;
	vertical-align: top;
	line-height: 1.3;
}
[dir="rtl"] td {
	text-align: right;
}
.first {
	width: 1%;
	white-space: nowrap;
}
.first img {
	width: 32px;
	height: 32px;
}
/*.first img:hover {
	border: none; border-radius: 4px;
	box-shadow: 0 0 1px #888;
}*/
.pre {
	padding-left: 2em;
	white-space: nowrap;
	border-bottom: 1px solid #CCC;
}
.bugs tr:nth-child(even) {
	border-bottom: 1px solid #CCC;
}
.list tr:last-child td {
	border-bottom: none;
}


/* --- */

.form {
	display: table;
	table-layout: auto;
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0; /* t r b l */
}

#s_form {
	display: table-row;
	padding: 6px;
	margin: 0;
	text-align: center;
}

.small {
	white-space: nowrap;
	display: table-cell;
	width: 10%;
}
select, input, button {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	height: 2rem;
	min-height: 2rem;
	font-size: 1rem;
}
span.stretch {
	display: table-cell;
	width: 100%;
	padding: 0;
	margin: 0;
}
#query { width: 100%; }

#ticker {
	padding: 12px 0;
}
#ticker img {
	float: right;
	width: 16px;
	height: 16px;
}
#ticker progress {
	width: 100%;
	box-sizing: border-box;
}

.summary {
	text-align: center;
	font-style: italic;
}
mark {
	background: #FF8;
	border: solid #EB7;
	border-radius: 4px;
	border-width: 1px 0;

}
.err::before {
	display: inline-block;
	vertical-align: middle;
	content: url(icons/dialog-error.png);
	padding: 1ex;
}




/* Tags cloud (and other "clouds") */

/* tag - Number of elements */
.tagn {
	color: #99F;
	font-size: 9pt;
	padding-left: 5px;
	padding-right: 2px;
}
/* tag - Anchor */
.tagn + a {
	font-weight: bold;
	text-decoration: none;
}

.tag1 { font-size: 10pt; color: #005E80; /*#222222*/ }
.tag2 { font-size: 11pt; color: #4A5C79; /*#383432*/ }
.tag3 { font-size: 12pt; color: #6F5A71; /*#4E433F*/ }
.tag4 { font-size: 13pt; color: #8A5769; /*#644E46*/ }
.tag5 { font-size: 14pt; color: #A05561; /*#7A5749*/ }
.tag6 { font-size: 15pt; color: #B45357; /*#905C48*/ }
.tag7 { font-size: 16pt; color: #C5504C; /*#A75E43*/ }
.tag8 { font-size: 17pt; color: #D54E40; /*#BD5D39*/ }
.tag9 { font-size: 18pt; color: #E44B31; /*#D3582A*/ }
.tag10{ font-size: 19pt; color: #F2491D; /*#E95117*/ }
.tag11{ font-size: 20pt; color: #FF4600; /*#FF4600*/ }




/* SYNTAX HIGHLIGHTER */
.r-comment { color: #888; }
.r-literal { color: #f35a00; }
.r-var { font-weight: 600; color: #070; }
.r-func { color: #4895DD; }
.r-url { text-decoration: none; }
.r-com, .r-scom { color: #4895DD; font-weight: bold; /*background-color: #cde;*/ }
.r-path { text-decoration: underline; color: brown; }
.r-param { font-weight: bold; color: #444; }




/* Actions icons */

.last { text-align: right; white-space: nowrap; width: 1%; }

.dl, .rc, .co {
	height: 16px;
	background-repeat: no-repeat; background-position: left top; background-size: contain;
	display: inline-block; vertical-align: middle;
	white-space: nowrap; overflow: hidden; width: 0;
	padding-left: 16px;
	font-size: smaller;
	/*transition: all 0.3s cubic-bezier(.5, .51, .4, 1) 0s;*/
	direction: initial;
}
.dl { background-image: url(icons/a-dl.png); }
.rc { background-image: url(icons/a-rc.png); }
.co { background-image: url(icons/a-co.png); }

.avatar::before      { content: url(icons16/authors.png); }
.license::before     { content: url(icons16/text-x-copying.png); }
.web::before         { content: url(icons16/text-html.png); }
.receipt::before     { content: url(icons16/text-x-source.png); }
.dep::before         { content: url(icons16/x-dia-diagram.png); }
.description::before { content: url(icons16/text-x-readme.png); }
.bugs::before        { content: url(icons16/bug-buddy.png); }
.arch::before        { content: url(icons16/jockey.png); }
.category::before    { content: url(icons16/applications-graphics.png); }
.file::before        { content: url(icons16/multipart-encrypted.png); }
.common::before      { content: url(icons16/edit-cut.png); }
.pkgi::before        { content: url(icons16/package-install.png); }
.pkgr::before        { content: url(icons16/package-remove.png); }
.download::before    { content: url(icons16/emblem-downloads.png); }
.files-list::before  { content: url(icons16/files-list.png); }
.cooker::before      { content: url(icons16/text-x-makefile.png); }
.tag::before         { content: url(icons16/easytag.png); }
.pkg::before         { content: url(icons16/package-x-generic.png); }

.avatar::before, .license::before, .web::before, .receipt::before, .dep::before,
.description::before, .bugs::before, .arch::before, .category::before, .file::before,
.common::before, .pkgi::before, .pkgr::before, .download::before, .files-list::before,
.cooker::before, .tag::before, .pkg::before {
	display: inline-block; vertical-align: middle; padding: 0 0.5ex 0 0; }

@media
	(-webkit-min-device-pixel-ratio: 1.5),
	(min--moz-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(min-device-pixel-ratio: 1.5),
	(min-resolution: 144dpi),
	(min-resolution: 1.5dppx)
	{
	.dl { background-image: url(icons1.5/a-dl.png); }
	.rc { background-image: url(icons1.5/a-rc.png); }
	.co { background-image: url(icons1.5/a-co.png); }
}
@media
	(-webkit-min-device-pixel-ratio: 2),
	(min--moz-device-pixel-ratio: 2),
	(-o-min-device-pixel-ratio: 2/1),
	(min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx)
	{
	.dl { background-image: url(icons2/a-dl.png); }
	.rc { background-image: url(icons2/a-rc.png); }
	.co { background-image: url(icons2/a-co.png); }
}
/*td:hover .dl, td:hover .rc, td:hover .co { width: inherit; }*/



/* Levels for tree */

.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8 { display: table; }
.l1 { margin-left:  3ex; }
.l2 { margin-left:  6ex; }
.l3 { margin-left:  9ex; }
.l4 { margin-left: 12ex; }
.l5 { margin-left: 15ex; }
.l6 { margin-left: 18ex; }
.l7 { margin-left: 21ex; }
.l8 { margin-left: 24ex; }


footer a+a::before { display: inline-block; content: '• '; color: #E81; }




table.info { position: relative; }

.appImg {
	display: inline-block;
	position: absolute; top: 0.3rem;
	width: 64px; height: 64px;
}
[dir="ltr"] .appImg { right: 0.3rem; }
[dir="rtl"] .appImg { left:  0.3rem; }

.info a { display: inline-block; }
.spkg img { width: 16px; height: 16px; padding: 0 0.5ex 0 0;}

.desc {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #CCC;
	padding: 6px;
}

.lang select { vertical-align: middle; }

.center { text-align: center; }


/* Conditional blocks */

/* Show on Small Screens - hide by default */
.sssi, .sssb, .sssc { display: none; }
/* Hide on Small Screens - show by default */
.hssi { display: inline-block; } .hssb { display: block; } .hssc { display: table-cell; }

@media (max-width: 480px) {
	.sssi { display: inline-block; } .sssb { display: block; }
	.hssi, .hssb, .hssc { display: none; }
}


/* Responsive */

@media (max-width: 480px) {
	.form, #s_form, .small, .stretch {
		display: block;
		width: inherit;
		max-width: 100%;
	}
	.list td:nth-child(2) {
		display: inline-block;
		clear: both;
	}
	.list td:nth-child(3) {
		display: block;
		text-align: right;
		width: inherit;
		font-size: 11px;
		border-top: 1px dotted #CCC;
	}
	.small, .stretch, form select, input, button {
		display: block !important;
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
		width: 100%;
		height: 2rem;
		min-height: 2rem;
		margin: 6px 0;
		font-size: 1rem;
	}
	.dl, .rc, .co {
		white-space: normal; width: inherit;
	}
	.pre {
		white-space: normal;
	}
}

@media (max-device-width: 480px) {
	body {
		background-color: #DDD;
	}
	/* Custom look of standard controls */
	select, input, button {
		-webkit-appearance: none;
		display: inline-block;
		border: 1px solid #666;
		border-radius: 4px;
		margin: 12px 0;
		padding: 0 6px;
	}
	/* Add an arrow to the "select" control */
	select {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGAQMAAAAv/Pa7AAAABlBMVEUAAABJSUn0lwL4AAAAAXRSTlMAQObYZgAAABpJREFUCB1j+P+Aof4Ag30DgzwDAx8DAwsDADiuBA9DaVFpAAAAAElFTkSuQmCC');
		background-position: 98% 50%;
		background-repeat: no-repeat;
		margin: 12px 0;
	}
	input, button {
		margin: 16px 0 8px;
	}
	/* Remove the dots between links */
	footer a+a::before { content: ' '; }
}



*::-moz-selection, *::selection { background-color: #FFA500; color: #000; }
