
/* Custom style for mirror.slitaz.org */

#header { color: #ffffff; }
div.list { background-color: white; padding-bottom: 14px;}
table { width: 100% ;}
th, td { font: 90% monospace; text-align: left;}
th { font-weight: bold; padding-right: 14px; padding-bottom: 3px;}
td {padding-right: 14px;}
td.s, th.s {text-align: right;}
