/* CSS style for SliTaz Network */

html { min-height: 102%; }
body { font: 13px sans-serif, vernada, arial; margin: 0; }
h1 { margin: 0; padding: 8px; color: #fff; font-size: 20px; }
h1 a { color: #fff; text-decoration: none; }
h2 { color: #444; } h3 { color: #666; font-size: 140%; }
h2, h3 { border-bottom: 1px dashed #afafaf; margin-bottom: 5px; }
a { text-decoration: underline; color: #215090; }
a:hover { text-decoration: none; }
img { border: 0pt none; vertical-align: middle; }
pre {
	overflow: auto;
	font-size: 98%;
	padding: 10px;
}
pre img { margin: 4px 4px 4px 0px; }

/* Header */

#header {
	background: #111 url(images/logo.png) no-repeat left;
	min-height: 40px;
}

#header h1 {
	margin: 0;
	padding: 8px 0 8px 42px;
	width: 280px;
	font-size: 20px;
	font-style: italic;
}

#header h1 a { 
	color: white; 
	text-decoration: none;
}

#header h1 a:hover { 
	color: #afafaf;
}

/* Header links */

#network { 
	float: right; 
	padding: 13px 5px 0;
}

#network a, #network span {
	padding: 0 4px;
	color: #fff; 
	font-weight: bold;
	text-decoration: none;
}

#network a:hover, #network span { color: #afafaf; }

/* Navigation */

nav {
	font-size: 120%;
	min-height: 54px;
	background: #ddd; 
	padding: 30px 6% 0;
	text-align: center;
	color: #222;
	border-bottom: 1px solid #afafaf;
	margin-bottom: 20px;
	top: 40px;
}

nav ul {
    margin: 0; padding: 0;
    list-style: none;
}
nav li { display: inline; }

nav a { 
	text-decoration: none;
	padding: 12px;
	color: #fff; 
	font-weight: bold;
	vertical-align: middle;
	-webkit-transition: background-color 0.6s;
	transition: background-color 0.5s;
}

.nav1 { background-color: #333; }
.nav1:hover { background-color: #128da9; }
.nav2 { background-color: #ab3c00; }
.nav2:hover { background-color: #ff9b00; }
.navpi { background-color: #444; }
.navpi:hover { background-color: #bc1142; }

/* Search */

#search {
	position: absolute;
	right: 20px;
	top: 60px;
}

#search input[type="text"] {
	width: 200px;
	padding: 4px;
	margin: 4px 0px;
	font-size: 14px;
	line-height: 1.2em;
	background: #fefefe;
	border: 2px solid #afafaf;
	-webkit-appearance: none;
	-webkit-padding-end: 12px;
	-webkit-padding-start: 6px;
}

/* Content */

#content {
	margin: 20px auto;
	padding: 0 20px;
	text-align: justify;
	max-width: 760px;
}
#content li { list-style-type: square; line-height: 1.6em; }

.box {
	padding: 6px;
	margin: 4px 0px;
}

.box-up, .box-share, .box-rpi { 
	padding: 20px 10px 20px 54px; margin: 20px 0; }

.box-dl {
	background: url("images/download.png") no-repeat 12px center;
	padding: 16px 16px 16px 54px;
	margin: 20px 60px;
}

.box-up {
	background: url("images/generic.png") no-repeat 12px center;
}

.box-share {
	background: url("images/share.png") no-repeat 12px center;
}

.box-rpi {
	background: url("images/raspberrypi.png") no-repeat 12px center;
}

pre, .box, .box-dl, .box-up, .box-share, .box-rpi {
	background-color: #efefef;
	border: 1px solid #ddd;
}

.mobile { display: none !important; }
.error { color: red; }
.ok { color: green; }
.date { color: #666; font-size: 96%; }

/* Round corner */

pre, img, .box, .box-dl, .box-up, .box-rpi, input[type="text"], 
#block_nav, .box-share, nav a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Footer */

#footer {
	text-align: center;
	padding: 20px;
	border-top: 1px solid #ddd;
	font-size: 90%;
}

#footer a { padding: 0 2px; }
